
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'page.beds.list' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="beds">
    <ion-item  *ngFor="let bed of beds" (click)="edit(bed)">
      <ion-icon name='body' item-start></ion-icon>
      <ion-label>{{bed.title}} -
      Location: {{bed.bed_location}} Number of beds in room: {{bed.beds_in_room}} </ion-label>
      <ion-toggle checked={{bed.available}} item-end></ion-toggle>
    </ion-item>
  </ion-list>
<ion-fab right bottom>
  <button ion-fab (click)="add()"><ion-icon name="add"></ion-icon></button>
</ion-fab>
</ion-content>
